@import url('https://rsms.me/inter/inter.css');
html { font-family:
        'Inter',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
        font-size: 15px;
      }
@supports (font-variation-settings: normal) {
  html { font-family:
          'Inter var',
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';
        }
}

code {
  font-family: 'Consolas', 'Monaco', monospace;   
  font-size: 85%;
}
